<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
</head>
<body>
 <div class = form>
  <h1>Editing Photo</h1>
  <%= form_for :photo, url: photo_path(@photo), method: :patch do |p| %>
  <p> 
    <%= p.label :title %> <br>
    <%= p.text_field :title %>
  </p>

  <p>
    <%= p.label :author %> <br>
    <%= p.text_field :author %>
  </p>

  <p>
    <%= p.label :url %> <br>
    <%= p.url_field :url %>
  </p>

  <p>
    <%= p.submit %>
  </p>
<% end %>
<%= link_to 'Back', photos_path %>
</div>
</body>
</html>